extends ../layout

block content
    h1 Erro
    div(class="alert alert-warning") 
        | Pedimos desculpa, mas o recurso pedido não foi encontrado.
        | Verifique se escreveu o endereço corretamente.

    a(href="/") Voltar ao início.