extends ../layout

block content
    h1 Erro
    div(class="alert alert-danger") 
        | Ocorreu um erro no servidor. Se encontrar este erro mais vezes,
        | por favor contacte o administrador.

    a(href="/") Voltar ao início.