extends layout

block content
    form(id="test", method="POST", action="/BackOffice/Tests/Create/Multimedia3" enctype="multipart/form-data")
        
        h1 Adicionar teste Multimédia Texto com Imagens

        | Titulo:
        input(type='text', name = "title")
        br
        | Cabeçalho:
        input(type='text', name = "mainText")
        br
        input(type="radio", name="correct", value="1")
        input(type='file', name = "opt1")
        input(type="radio", name="correct", value="2")
        input(type='file', name = "opt2")
        input(type="radio", name="correct", value="3")
        input(type='file', name = "opt3")
        br
        | Grau Escolar:
        select(name="grade")
            option(value="1") 1º Ano
            option(value="2") 2º Ano
            option(value="3") 3º Ano
            option(value="4") 4º Ano
        br
        | Professor Id:
        input(type='text', name = "professorId")
        br
        | Área:
        select(name="areaId")
            option(value="1") Português
            option(value="2") Inglês
            option(value="3") Estudo do Meio
            option(value="4") Matemática

        br
        input(type="submit")