extends layout

block content
    form(id="test", method="POST", action="/CreateTest" enctype="multipart/form-data")
        
        h1 Adicionar teste de leitura

        | Titulo:
        input(type='text', name = "txtTitle")
        br
        | Texto:
        textarea(name="txtaText")
        br
        | Data de Inserção:
        input(type='text', name = "txtInsertionDate")
        br
        | Grau Escolar:
        select(name="grau")
            option(value="1") 1º Ano
            option(value="2") 2º Ano
            option(value="3") 3º Ano
            option(value="4") 4º Ano
        br
        | Pergunta:
        textarea(name="txtapergunta")
        br
        | Tipo:
        input(type="radio", name="type_filter", value="0")
        | Texto
        input(type="radio", name="type_filter", value="3")
        | Poema
        input(type="radio", name="type_filter", value="2")
        | Lista
        br
        | Professor Id:
        input(type='text', name = "txtidprofessor")
        br
        | Área:
        select(name="areaid")
            option(value="1") Português
            option(value="2") Inglês
            option(value="3") Estudo do Meio
            option(value="4") Matemática
        
        br
        input(type="file" accept="audio/*" name="audioprofessor")
        br
        input(type="submit")
        