extends layout

block content
    form(id="test", method="POST", action="/BackOffice/Tests/Create/Read" enctype="multipart/form-data")
        
        h1 Adicionar teste de leitura

        | Titulo:
        input(type='text', name = "title")
        br
        | Pergunta:
        input(type='text', name = "mainText")
        br
        | Texto:
        textarea(name="textContent")
        br
        | Grau Escolar:
        select(name="grade")
            option(value="1") 1º Ano
            option(value="2") 2º Ano
            option(value="3") 3º Ano
            option(value="4") 4º Ano
        br
        | Tipo:
        input(type="radio", name="type", value="0")
        | Texto
        input(type="radio", name="type", value="3")
        | Poema
        input(type="radio", name="type", value="2")
        | Lista
        br
        | Professor Id:
        select(name="professorId")
            each prof in professores
                option(value="#{prof.id}")= prof.name
        br
        | Área:
        select(name="areaId")
            option(value="1") Português
            option(value="2") Inglês
            option(value="3") Estudo do Meio
            option(value="4") Matemática
        
        br
        input(type="file" accept="audio/*" name="audio" required)
        br
        input(type="submit")
        