extends layout

block content
    form(id="student", method="POST", action="/CreateAluno" enctype="multipart/form-data")
        h1 Adicionar aluno
        | Nome do Aluno:
        input(type='text', name = "txtName")
        br
        | Estado:
        input(type="radio", name="state_filter", value="0")
        | Inativo
        input(type="radio", name="state_filter", value="1")
        | Ativo
        br
        | Id da Escola:
        input(type='text', name = "txtIdEscola")
        br
        | Foto:
        input(type="file" name="photo")
        br
        input(type="submit")
        script(type="text/javascript", src="/scripts/formtest.js")

