extends layout

block content

    h1 Adicionar aluno

    form(novalidate, id="letrinhas-add-form", class="form-horizontal", method="POST", action="/BackOffice/Students/Create" enctype="multipart/form-data")

        div(class="form-group")
            label(for="txtName", class="control-label col-sm-2") Nome do aluno

            div(class="col-sm-10")
                input(type="text", id="txtName", name="txtName", required, class="form-control", placeholder="Nome")

        div(class="form-group")
            label(for="schoolId", class="control-label col-sm-2") Turma e escola

            div(class="col-sm-10")
                select(name="schoolId" class="form-control")
                    each school in escolas
                        option(value="#{school.idTurma}")= school.schoolName +" - "+ school.classLevel+"º "+school.className +" - "+ school.classYear

        div(class="form-group")
            label(for="photo", class="control-label col-sm-2") Fotografia

            div(class="col-sm-10")
                input(type="file", id="photo", name="photo", required, class="form-control-static", accept="image/*")

        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                input(type="submit", class="btn btn-primary" id="form-submit", value="Adicionar")

block additionalScripts
    script(src="/scripts/jquery/jquery.validate.min.js")
    script(src="/scripts/jquery/messages_pt_PT.js")

    script.
        (function () {
            $('#letrinhas-add-form').validate();
        }());

