extends layout

block content
    form(id="test", method="POST", action="/CreateTeacher" enctype="multipart/form-data") 
        h1 Adicionar Professor
        | Nome do Professor:
        input(type='text', name = "name")
        br
        | Email:
        input(type='text', name = "mail")
        br
        | Telefone:
        input(type='text', name = "phone")
        br
        | Estado de Atividade:
        input(type="radio", name="state_filter", value="0")
        | Inativo
        input(type="radio", name="state_filter", value="1")
        | Ativo
        br
        | Username:
        input(type='text', name = "username")
        br
        | Password:
        input(type='password', name = "password")
        br
        | ID Escola:
        input(type='text', name = "schoolId")
        br
        | Foto:
        input(type="file" name="photo")
        br
        input(type="submit")
    script(type="text/javascript", src="/scripts/formtest.js")

 