extends layout

block content
    form(id="test", method="POST", action="/BackOffice/Professors/Create" enctype="multipart/form-data") 
        h1 Adicionar Professor
        | Nome do Professor:
        input(type='text', name = "name" required)
        br
        | Email:
        input(type='email' name = "mail" required)
        br
        | Telefone:
        input(type='text', name = "phone"  maxlength="9" size="9" required)
        br
        | Username:
        input(type='text', name = "username" required)
        br
        | Password:
        input(type='password', name = "password" required)
        br
        | Selecione a Escola:
        select(name="schoolId")
          each school in escolas
             option(value="#{school.id}")= school.schoolName
        br
        | Foto:
        input(type="file" name="photo" required)
        br
        input(type="submit")
    script(type="text/javascript", src="/scripts/formtest.js")

 