extends layout

block content
    h1 Escolha uma opção
    a(href="/BackOffice/Classes/All") Todas as turmas de todas as escolas
    br
    a(href="/BackOffice/Classes/All?schoolId=1") Pesquisar turmas por escola (TODO)