doctype html
html(ng-app="true", lang="pt")
  head
    title=title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body
    form(id="test", method="POST", action="/postFiles" enctype="multipart/form-data")
      button(id="add-file") Adicionar ficheiro

      fieldset(id="file-input-container")

      select(id="correct-id-selector", name="correct-id")

      input(type="submit")

    script(type="text/javascript", src="/scripts/formtest.js")
