extends layout

block content
  h1 LETRINHAS - Menu de adição
  a(href="/Tests/Create/Read") Adicionar teste de escrita
  br
  a(href="/Professors/Create") Adicionar Professor
  br
  a(href="/Students/Create") Adicionar Aluno
  br
  a(href="/Classes/Create") Adicionar Turma
  br
  a(href="/Schools/Create") Adicionar Escola