extends layout

block content
  h1 LETRINHAS 
  h4 Adição
  a(href="/Tests/Create/Read") Adicionar teste de escrita
  br
  a(href="/Professors/Create") Adicionar Professor
  br
  a(href="/Students/Create") Adicionar Aluno
  br
  a(href="/Classes/Create") Adicionar Turma
  br
  a(href="/Schools/Create") Adicionar Escola
  br
  a(href="/Tests/Create/Multimedia") Adicionar teste Multimédia
  h4 Listagem
  a(href="/Schools/GetAll") Listar Escolas
  br
  a(href="/Classes/Choose") Listar Turmas
  br
  a(href="/Professors/Choose") Listar Professores
