extends layout

block content
  h1 LETRINHAS - Menu de adição
  a(href="/CreateTest") Adicionar teste de escrita
  br
  a(href="/CreateTeacher") Adicionar Professor
  br
  a(href="/CreateAluno") Adicionar Aluno
  br
  a(href="/CreateClass") Adicionar Turma