extends layout

block content
    h1 Escolha o tipo de teste Multimédia que deseja adicionar.
    br
    a(href="/BackOffice/Tests/Create/Multimedia?type=0") Só Texto
    br
    a(href="/BackOffice/Tests/Create/Multimedia?type=1") Texto e imagens
    br
    a(href="/BackOffice/Tests/Create/Multimedia?type=2") Só Imagens
    br
    a(href="/") Voltar para o início