extends layout

block content
    h1 Escolha uma opção
    a(href="/Professors/GetAll/1") Todos os Professores do Agrupamento
    br
    a(href="/Professors/bySchool") Pesquisar Professores por escola