extends ../layout

block content
    h1 Letrinhas

    p Aplicação de suporte à melhoria da leitura.

    p Desenvolvido por:

    ul
        li Equipa do BackOffice:
            ul
                li Luís Oliveira (Formulários de inserção e listagem dos vários conteúdos)
                li João Carvalho (Formulários de inserção de testes de escolha múltipla)
                li Luís Amendoeira (Formulários de listagem de vários conteúdos)
                li André Carvalho (Validação e embelezamento)
         li Equipa da App:
            ul
                li Tiago Fernandes (???)
                li Alexandre Carvalho (Funcionalidades de comunicação com o servidor)
                li Dário Jorge (???)
                li Rafael Costa (???)
                li Jorge Martins (???)
                li Diogo Neto (???)
        li Equipa de Análise de Sistemas:
            ul
                li Artur Gomes (Estrutura da Base de Dados e Mockups da App)
                li André dos Santos (???)
                li André Marques (???)
                li Simão Lopes (???)
                li Sandro Godinho? (???)
                li João Ferreira (Manuais de utilizador)
        li Equipa do Servidor:
            ul
                li André Carvalho (Criação da API de suporte à App)
                li Bruno Duque (Implementação dos scripts SQL para a base de dados)
    