<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidhive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.letrinhas.MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Product Activity -->
        <activity
            android:name="com.example.letrinhas.AllTestsActivity"
            android:label="All Products" >
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name="com.example.letrinhas.Send_Result"
            android:label="Add New Product" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
            android:name="com.example.letrinhas.EditProductActivity"
            android:label="Edit Product" >
        </activity>
        <activity
            android:name="com.example.letrinhas.ViewMoreInfo"
            android:label="@string/title_activity_view_more_info" >
        </activity>
        <activity
            android:name="com.example.letrinhas.All_Tests"
            android:label="@string/title_activity_all__tests" >
        </activity>
        <activity
            android:name="com.example.letrinhas.Send_ResultTest"
            android:label="@string/title_activity_send__result_test" >
        </activity>
        <activity
            android:name="com.example.letrinhas.ReceberImagem"
            android:label="@string/title_activity_receber_imagem" >
        </activity>
        <activity
            android:name="com.example.letrinhas.ReprodAudio"
            android:label="@string/title_activity_reprod_audio" >
        </activity>
        <activity
            android:name="com.example.letrinhas.MainBD"
            android:label="@string/title_activity_main_bd" >
        </activity>
    </application>



</manifest>